<div class="card" style="width: 18rem;">
    <div class="card-header">
    </div>
    <img src="https://image.tmdb.org/t/p/original{{ movie.poster_path }}" class="card-img-top" >
    <div class="card-body">
      <div style="display: flex; flex-direction: row">
        <h4 class="card-title">{{ movie.original_title }} ({{ movie.release_date|slice:":4" }})</h4>
      </div>
      <p class="card-text"> {{ movie.overview }} </p>
      <a href="/movies/{{ movie.id }}/1" class="btn btn-primary">Get Recommendations</a>
    </div>
  </div>